# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# IntelliJ ignores
.idea/
out/

# Eclipse ignores
/.settings/
/bin/
/.classpath
/.project
.nyc_output
